<footer>
  <div class="f-info">
    <div class="f-info-social">
      <i class="ri-facebook-circle-fill"></i>
      <i class="ri-instagram-line"></i>
      <i class="ri-linkedin-box-fill"></i>
    </div>
    <div>&copy; Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
